.carousel .item {-webkit-transition: opacity 3s; -moz-transition: opacity 3s; -ms-transition: opacity 3s; -o-transition: opacity 3s; transition: opacity 3s;}
.carousel .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}
.carousel-inner .item img{width: 936px; height: 479px;}
h4, h5{
	margin-top:0px;
}

h5{
	margin-top:-4px;
}

.iterationRow{
	margin-top:20px;
}
.pageEndRow{
	padding-bottom:20px;
	margin-left:0px;
	margin-bottom:50px;
	border-bottom-style:solid;
	border-width:thin;
	border-color:#DDDDDD;
}
